.container{
	
}
.main {
	background: url("../img/Main/main_bg.png") 0 0 / cover no-repeat;
	height: 100vh;
	padding: 116px 0 300px 0;
	// @include adaptive-value("padding-top", 116, 87, 1);
	// @include adaptive-value("padding-bottom", 300, 416, 1);
	

	/* .main__header */
	&__header {
		margin: 0 0 140px 0;
		// @include adaptive-value("margin-bottom", 140, 20, 1);
	}
	/* .main__inner */
	&__inner {
		padding: 0 156px;
		// @include adaptive-value("padding-left",156, 12, 1);
		// @include adaptive-value("padding-right",156, 12, 1);
	}
	/* .main__content */
	&__content {
	}
	/* .main__content-title */
	&__content-title {
		font-family: 'Rubik',sans-serif;
		font-size: 72px;
		line-height: 85px;
		// @include adaptive-value("font-size", 72, 20, 1);
		// @include adaptive-value("line-height", 85, 24, 1);
		color: #EAEAEA;
		margin: 0 0 48px 0;
		// @include adaptive-value("margin-bottom", 48, 41, 1);
		max-width: 1077px;
	}
	/* .main__content-title_pink */
	&__content-title_pink {
		color:#E8A2A2;
	}
	/* .main__content-inner */
	&__content-inner {
		max-width: 560px;


	}
	/* .main__block */
	&__block {
	}
	/* .main__block-text */
	&__block-text {
		font-family: 'NotoSans',sans-serif;
		font-size: 24px;
		line-height: 41px;
		// @include adaptive-value("font-size", 24, 14, 1);
		// @include adaptive-value("line-height",41, 21, 1);
		color: #FFFFFF;
		
		margin:0 0 78px 0;
	}
	/* .main__block-text_blue */
	&__block-text_blue {
		color: #A2CBE8;
	}
	/* .main__links */
	&__links {
		position: relative;
		z-index: 5;
		
	}
	/* .main__link */
	&__link {
		font-family: 'NotoSans',sans-serif;
		font-weight: 300;
		font-size: 24px;
		line-height: 33px;
		color: #FFFFFF;
		padding:26px 36px;
		border: 1px solid transparent;
		margin:0 14px 0 0;
		&:last-child{
			margin: 0 0 0 0;
		}
		&:hover{
			border: 1px solid rgba(138, 138, 138, 0.2);
			border-radius: 50%;
		}
	}
	/* .main__arrow */
	&__arrow {
		position:absolute;
		bottom: 0;
		left: 50%;
	}
	/* .main__arrow-img */
	&__arrow-img {
	}
	
}

.header {
	
	/* .header__inner */
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	/* .header__logo */
	&__logo {
		display: block;
		// @include adaptive-value("width", 241, 188, 1);
		
	}
	/* .header__logo-img */
	&__logo-img {
		width: 100%;
		min-width: 188px;
	}
	/* .header__burger */
	&__burger {
		display: none;
	}
	/* .header__menu */
	&__menu {

	}
}
.menu {

	/* .menu__list */
	&__list {
		display: flex;
		align-items: center;

	}
	/* .menu__list-item */
	&__list-item {
		&:last-child{
			display: none;
		}
	}
	/* .menu__link */
	&__link {
		font-family: "NotoSans", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		// @include adaptive-value("font-size", 18, 14, 1);
		// @include adaptive-value("line-height", 25, 20, 1);
		letter-spacing: 0.09em;
		color: #FFFFFF;
		padding: 20px;
		border-bottom: 1px solid rgba(138, 138, 138, 0.3);
		transition: all 0.2s ease 0s;
		&:hover{
			border-bottom: 1px solid rgba(182, 182, 182, 1);
			color:#E8CCA2;
		}
		
		
		
	}
	
}

@media (max-width: 1600px){
	.main {
		padding: 70px 0 100px 0;

	/* .main__header */
	&__header {
		margin: 0 0 85px 0;
	}
	/* .main__inner */
	&__inner {
		padding: 0 110px;
		
	}
	/* .main__content */
	&__content {
	}
	/* .main__content-title */
	&__content-title {
		
		font-size: 66px;
		line-height: 77px;
		margin: 0 0 48px 0;
		max-width: 1000px;
	}
	/* .main__content-title_pink */
	&__content-title_pink {
		
	}
	/* .main__content-inner */
	&__content-inner {
		max-width: 560px;


	}
	/* .main__block */
	&__block {
	}
	/* .main__block-text */
	&__block-text {
		font-size: 23px;
		line-height: 40px;
		margin:0 0 70px 0;
	}
	/* .main__block-text_blue */
	&__block-text_blue {
		
	}
	/* .main__links */
	&__links {
		
		
	}
	/* .main__link */
	&__link {
		font-size: 23px;
		line-height: 32px;
		&:last-child{
		}
		&:hover{
		}
	}
	/* .main__arrow */
	&__arrow {
	}
	/* .main__arrow-img */
	&__arrow-img {
	}
	
}

.header {
	
	/* .header__inner */
	&__inner {
	}
	/* .header__logo */
	&__logo {
	}
	/* .header__logo-img */
	&__logo-img {
	}
	/* .header__burger */
	&__burger {
	}
	/* .header__menu */
	&__menu {
	}
}
.menu {

	/* .menu__list */
	&__list {
	}
	/* .menu__list-item */
	&__list-item {
		&:last-child{
		}
	}
	/* .menu__link */
	&__link {
		&:hover{
		}
	}
}
}

@media (max-width: 1440px){
	.main {
		height: 100vh;
		padding: 60px 0 100px 0;
	/* .main__header */
	&__header {
		margin: 0 0 75px 0;
	}
	/* .main__inner */
	&__inner {
		padding: 0 80px;
	}
	/* .main__content */
	&__content {
	}
	/* .main__content-title */
	&__content-title {
		font-size: 60px;
		line-height: 70px;
		max-width: 920px;
	}
	/* .main__content-title_pink */
	&__content-title_pink {
		
	}
	/* .main__content-inner */
	&__content-inner {
	}
	/* .main__block */
	&__block {
	}
	/* .main__block-text */
	&__block-text {
		font-size: 22px;
		line-height: 39px;
	}
	/* .main__block-text_blue */
	&__block-text_blue {
		color: #A2CBE8;
	}
	/* .main__links */
	&__links {
	}
	/* .main__link */
	&__link {
		font-size: 22px;
		line-height: 31px;
		padding:24px 34px;
		&:hover{
		}
	}
	/* .main__arrow */
	&__arrow {
		position:absolute;
		bottom: 0;
		left: 50%;
	}
	/* .main__arrow-img */
	&__arrow-img {
	}
}

.header {
	
	/* .header__inner */
	&__inner {
	}
	/* .header__logo */
	&__logo {
	}
	/* .header__logo-img */
	&__logo-img {
	}
	/* .header__burger */
	&__burger {
	}
	/* .header__menu */
	&__menu {
	}
}
.menu {
	/* .menu__list */
	&__list {
	}
	/* .menu__list-item */
	&__list-item {
		&:last-child{
		}
	}
	/* .menu__link */
	&__link {
		&:hover{
		}
	}
}
}

@media (max-width: 1366px) {
	.main {
		height: 100vh;
		padding: 60px 0 100px 0;
	/* .main__header */
	&__header {
		margin: 0 0 75px 0;
	}
	/* .main__inner */
	&__inner {
		padding: 0 80px;
	}
	/* .main__content */
	&__content {
	}
	/* .main__content-title */
	&__content-title {
		font-size: 55px;
		line-height: 65px;
		max-width: 805px;
	}
	/* .main__content-title_pink */
	&__content-title_pink {
		
	}
	/* .main__content-inner */
	&__content-inner {
	}
	/* .main__block */
	&__block {
	}
	/* .main__block-text */
	&__block-text {
		font-size: 20px;
		line-height: 36px;
	}
	/* .main__block-text_blue */
	&__block-text_blue {
		color: #A2CBE8;
	}
	/* .main__links */
	&__links {
	}
	/* .main__link */
	&__link {
		font-size: 22px;
		line-height: 31px;
		padding:24px 34px;
		&:hover{
		}
	}
	/* .main__arrow */
	&__arrow {
		position:absolute;
		bottom: 0;
		left: 50%;
	}
	/* .main__arrow-img */
	&__arrow-img {
	}
}

.header {
	
	/* .header__inner */
	&__inner {
	}
	/* .header__logo */
	&__logo {
	}
	/* .header__logo-img */
	&__logo-img {
	}
	/* .header__burger */
	&__burger {
	}
	/* .header__menu */
	&__menu {
	}
}
.menu {
	/* .menu__list */
	&__list {
	}
	/* .menu__list-item */
	&__list-item {
		&:last-child{
		}
	}
	/* .menu__link */
	&__link {
		&:hover{
		}
	}
}
}
@media (max-width: 1280px) {
	.main {
		height: 100vh;
		padding: 60px 0 100px 0;
	/* .main__header */
	&__header {
		margin: 0 0 75px 0;
	}
	/* .main__inner */
	&__inner {
		padding: 0 80px;
	}
	/* .main__content */
	&__content {
	}
	/* .main__content-title */
	&__content-title {
		font-size: 50px;
		line-height: 60px;
		max-width: 764px;
	}
	/* .main__content-title_pink */
	&__content-title_pink {
		
	}
	/* .main__content-inner */
	&__content-inner {
	}
	/* .main__block */
	&__block {
	}
	/* .main__block-text */
	&__block-text {
		font-size: 20px;
		line-height: 36px;
	}
	/* .main__block-text_blue */
	&__block-text_blue {
		color: #A2CBE8;
	}
	/* .main__links */
	&__links {
	}
	/* .main__link */
	&__link {
		font-size: 22px;
		line-height: 31px;
		padding:24px 34px;
		&:hover{
		}
	}
	/* .main__arrow */
	&__arrow {
		position:absolute;
		bottom: 0;
		left: 50%;
	}
	/* .main__arrow-img */
	&__arrow-img {
	}
}

.header {
	
	/* .header__inner */
	&__inner {
	}
	/* .header__logo */
	&__logo {
	}
	/* .header__logo-img */
	&__logo-img {
	}
	/* .header__burger */
	&__burger {
	}
	/* .header__menu */
	&__menu {
	}
}
.menu {
	/* .menu__list */
	&__list {
	}
	/* .menu__list-item */
	&__list-item {
		&:last-child{
		}
	}
	/* .menu__link */
	&__link {
		&:hover{
		}
	}
}
}
@media (max-width: 450px) {
	body.lock{
		overflow: hidden;
	}
	.main {
		background: url('../img/Main/stirrer.png') 0 0 / cover no-repeat,#2E2E2E;
		height: 100vh;
		padding: 122px 0 416px 0;
	/* .main__header */
	&__header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		&:before{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent;
			z-index: 2;
		}
		
	}
	/* .main__content */
	&__content {
	}
	/* .main__content-title */
	&__content-title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
		margin: 0 0 41px 0;
		max-width: 325px;
		max-height: 72px;
		text-align: center;
		&:before{
			content: '';
			display: inline-block;
			width: 189px;
			height: 32px;
			background: url('../img/Main/Logo_small.svg') no-repeat;
			position: absolute;
			top:77px;
			left: 25%;
			
		}
		&:after{
			content:'';
			position:relative;
			display: block;
			width: 240px;
			height: 0;
			margin: 0 auto;
			opacity: 0.06;
			border: 1px solid #FFFFFF;
			bottom: -21px;
		}
		
	}
	/* .main__content-title_pink */
	&__content-title_pink {

	}
	/* .main__content-inner */
	&__content-inner {
		display: block;
	}
	/* .main__block */
	&__block {
	}
	/* .main__block-text */
	&__block-text {
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		color: #FFFFFF;
		margin: 0 0 53px 0;
	}
	/* .main__block-text_blue */
	&__block-text_blue {
		color: #ffffff;
	}
	/* .main__links */
	&__links {
		display: flex;
		justify-content: space-between;
	}
	/* .main__link */
	&__link {
		font-size: 14px;
		line-height: 21px;
		color: #E1E1E1;
		font-weight: normal;
		padding: 17px 40px;
		
	}
	/* .main__arrow */
	&__arrow {
		display: none;
	}
	/* .main__arrow-img */
	&__arrow-img {
	}
}
.container {
}
.header {
		/* .header__inner */
		&__inner {
			position: relative;
			justify-content: end;
			height: 80px;
			padding: 0 35px;
		}

	/* .header__logo */
	&__logo {
		display: none;
		

		
		z-index: 0;
	}
	/* .header__logo-img */
	&__logo-img {
	}

	/* .header__burger */
	&__burger {
		display: block;
		position: relative;
		width: 22px;
		height: 16px;
		z-index: 3;


		& span{
			position: absolute;
			background: #ffffff;
			left: 0;
			width: 100%;
			height: 2px;
			top:7px;
			border-radius: 1px;
			transition: all 0.2s ease 0s;
		}

		&:before,
		&:after{
			content:'';
			background: #ffffff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			border-radius: 1px;
			transition: all 0.2s ease 0s;
		}
		&:before{
			top: 0;

		}
		&:after{
			bottom: 0;
		}
		&.active:before{
			transform: rotate(45deg);
			top: 6.6px;
		}
		&.active:after{
			transform: rotate(-45deg);
			bottom: 6.6px;
		}
		&.active span{
			transform: scale(0);
		}
	}
	/* .header__menu */
	&__menu {
		position:fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 242px;
		background: rgba(28, 28, 28, 0.95);
		backdrop-filter: blur(15px);
		transition:all 0.2s ease 0s;
		padding: 84px 35px 0 20px;
		text-align: right;
		overflow: auto;
		&.active{
			top:0;
		}
	}
}
.menu {

	/* .menu__list */
	&__list {
		position:relative;
		z-index: 2;
		display: block;
	}
	/* .menu__list-item */
	&__list-item {
		margin-bottom: 10px;
		&:last-child{
			display: block;
		}
	}
	/* .menu__link */
	&__link {
		font-size: 16px;
		line-height: 22px;
		
		border:none;
		padding: 0;

	}
}

}