.offer {
	background: url('../img/Offer/offer_bg.jpg') 0 0 / cover no-repeat;
	height: 66.7vh;
	padding: 70px 0 92px 0;
	/* .offer__top */
	&__top {
	}
	/* .offer__top-title */
	&__top-title {
	}
	/* .offer__top-text */
	&__top-text {
	}
	/* .offer__top-text_hide */
	&__top-text_hide {
	}
	/* .offer__bottom */
	&__bottom {
	}
	/* .offer__form */
	&__form {
	}
}
.container {
}
.bid {
	/* .bid__inputs */
	&__inputs {
	}
	/* .bid__input */
	&__input {
	}
	/* .bid__bottom */
	&__bottom {
	}
	/* .bid__text */
	&__text {
	}
	/* .bid__btn */
	&__btn {
	}
}
