// Файл обнуляющих стилей
@import "nullstyle.scss";
// Подключение шрифтов
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700;900&display=swap');

@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

/* //Адаптивное свойство */
$maxWidth: 1920;
$maxWidthContainer: 1545;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
    	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw -320px) / #{$maxWidthContainer - 320}));
    }
} @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
    	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
} @else {
    //всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}

@import "fonts";

// Сетка медиа запросов

.container {
	max-width: 1545px;
	margin: 0 auto;
	padding: 0 20px;
	

}
@media (max-width: 1600px){
	.container{
		max-width: 1450px;
	}
}
@media (max-width: 1536px){
	.container{
		max-width: 1400px;
	}
}
@media (max-width: 1440px){
	.container{
		max-width: 1300px;
	}
}
@media (max-width: 1280px) {
	.container{
		max-width: 1192px;
	}
}
@media (max-width: 1024px) {
	.container{
		max-width: 970px;
	}
	
}

@media (max-width: 992px) {
	.container{
		max-width: 750px;
	}
	
}
@media (max-width: 767px) {
	.container{
		max-width: 700px;
	}
}
@media (max-width: 376px) {
	.container{
		max-width: 320px;
		padding: 9px;
	}
}
@media (max-width: 320px) {
	.container{
		max-width: 300px;
	}
}


// MAIN
@import "main";
// ABOUT
@import "about";
// ORDER
@import "order";
// OFFER
@import "offer";
// FOOTER
@import "footer";
//Stirrer
@import "stirrer";